body{
  overflow-x: hidden;
}

.navbar{
  border: hidden;
  position: relative;
}

.hero-container{
  height: 40rem;
  position: relative;
}

.body{
  position: absolute;
  background-image: linear-gradient(to left bottom,
  rgba(241, 233, 233, 0.836),
  rgba(219, 150, 150, 0.4));
  height: 63.8rem;
  clip-path: polygon(0 0, 100% 0, 100% 76%, 0 78.6vh);
  width: 156%;
  object-fit: cover;
  margin-left: -24rem;
  z-index: 1;
  top: 2.8%;
}

.video{
  position: absolute;
  width: 156.2%;
  left: -21%;
  top: -13%;
  object-fit: cover;
  transform: translate(-9%, 13%);
  height: 48.5rem;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 78.5vh);
  overflow: hidden;
  z-index: 1;
  background-attachment: fixed;
}


.hero-text{
  position: absolute;
  z-index: 2;
  margin-top: 15rem;
  margin-left: 14rem;
  text-align: center;

}

.hero-text h1{
  color: #fff;
  font-size: 3rem;
}

.hero-text h5{
  color: #fff;
  font-size: 1.2rem;
}

.hero-button{
  margin-bottom: 1rem;
}


/*Getapet start*/
.Getapet-Container{
  height: 40rem;
  margin-top: 10rem;
}


.Getapet-Header{
  text-align: center;
}

.hr-getapet{
  border: 2px solid rgb(226, 123, 123);
  width: 10%;
}

.getapet-container{
  width: 18rem;
  margin-top: 10rem;
  text-align: center;
}

.getapet-container h5{
  margin-top: 2rem;
}


.card-margin{
  margin-left: 2rem;
}

.getapet-header{
  font-size: 1.5rem;
}



/*Getapet end*/

.Ourstory-Container{
  height: 60rem;
  position: relative;
}

.ourstory-commitment{
  height: 30rem;
  padding: 4rem 5rem;
  background-color: #fff;
  position: absolute;
  margin-left: 3rem;
  z-index: 1;
}

.ourstory-image{
  width: 150%;
  margin-left: -5rem;
}

.hr-ourstory{
  border: 2px solid rgb(226, 123, 123);
  width: 30%;
  transform: translateX(-100%);
}


.ourstory-story{
  height: 30rem;
  padding: 4rem 2rem;
  background-color: #fff;
  transform: translateY(100%);
}

.hr-story{
  border: 2px solid rgb(226, 123, 123);
  width: 30%;
  transform: translateX(-100%);
}

.ourstory-button{
  padding: 0.5rem 2rem;
  margin-top: 1rem;
  background-color: rgb(241, 131, 131);
}

.ourstory-button:hover{
  background-color: rgb(240, 82, 82);
}



/*stats start*/
.Stats-Container{
  height: 40rem;
}

.stats{
  margin-top: 5rem;
  padding: 4rem;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 6px 120px rgb(0, 0, 0, 10%);
}

.stats-text{
  text-align: center;
}

.hr-stats{
  border: 2px solid rgb(226, 123, 123);
  width: 10%;
}

.stats-icon{
  font-size: 4rem;
  color: rgb(247, 110, 110);
  transform: translate(40%, -60%);
}

.card-2, .card-4{
  transform: translateY(30%);
}

/*stats end*/

/*Contact start*/

.Contact-Container{
  height: 33.9rem;
}

.contact-section{
  background-color: rgb(245, 133, 133);
  height: 33.9rem;
  width: 150%;
}

.contact-header{
  text-align: center;
}

.contact-header h1{
  transform: translateY(60%);
  color: rgb(165, 44, 35);
}

.hr-contact{
  border: 2px solid #fff;
  width: 10%;
  margin-top: 3rem;
}

.contact-image{
  margin-left: -16rem;
  width: 155%;
}

.contact-location{
  margin-top: 4rem;
  text-align: center;
}

.contact-arrow{
  font-size: 1.7rem;
  margin-bottom: 3rem;
}

/*contact end*/

/*parallax*/

.Parallax{
  height: 20rem;
  background-image: url('./Images/karsten-winegeart-EbV9cE1EiEU-unsplash.jpg');
  background-size: cover;
  background-attachment: fixed;
  margin-bottom: 5rem;
}


/*parallax*/

/*Footer start*/

.Footer-container{
  height: 23rem;
  background-color: rgb(231, 121, 78);
  margin-left: 0rem;
  max-width: 100%;
  position: absolute;
  top: 170%;
}

.footer-text{
  margin-top: 5rem;
  margin-left: 5rem;
  
}

.footer-text h3{
  margin-bottom: 2rem;
}

.operation-list{
  transform: translateX(-10%);
  color: #000;
}

.operation-list li{
  list-style-type: none;
}

.social{
  margin-top: 1rem;
}

.instagram{
  font-size: 2rem;
}
.twitter{
  font-size: 2rem;
}
.youtube{
  font-size: 2rem;
}

.instagram:hover,
.twitter:hover,
.youtube:hover{
  color: #fff;
}
/*Footer end*/

/*media queries start*/

@media (max-width: 64em){
  html{
    overflow-x: hidden;
  }

  .video{
    width: 158.2%;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 48vh);
  }

  .body{
    width: 164.5%;
    clip-path: polygon(0 0, 100% 0, 100% 76%, 0 48vh);
  }

  .hero-text{
    margin-left: 10rem;
  }

  .ourstory-commitment{
    margin-left: 0rem;
  }



  .contact-image{
    width: 170%;
    height: 34rem;
  }

  .contact-section{
    width: 115%;
  }
}

/**/

/*48em*/

@media (max-width: 48em){
  html{
    overflow-x: hidden;
  }



  .video{
    width: 159.2%;
  }

  .body{
    width: 179.5%;
    clip-path: polygon(0 0, 100% 0, 100% 76%, 0 45vh);
  }

  .hero-text{
    margin-left: 2.5rem;
  }


  .getapet-header-1{
    transform: translateX(-38%);
  }

  .getapet-header-2{
    transform: translateX(-15%);
  }

  .getapet-header-3{
    transform: translateX(5%);
  }

  .getapet-position {
    transform: translateX(-40%);
  }

  .getapet-position-1{
    transform: translateX(-15%);
  }

  .getapet-position-2{
    transform: translateX(5%);
  }

  .stats{
    margin-left: -2.5rem;
    padding: 4rem 6rem;
  }

  .stats-icon{
    transform: translate(-38%, -60%);
  }

  .contact-image{
    width: 191%;
  }

  .contact-section{
    width: 158%;

  }

  .ourstory-commitment{
    margin-left: -6rem;

  }

  .ourstory-image{
    width: 185%;

  }

  .ourstory-story{
    height: 15rem;
    margin-left: -20rem;
    padding: 2rem 6rem;
    transform: translate(24%, 253%);
  }

  .stats{
    margin-left: -2rem;
  }

  .stats-card-text{
    margin-left: -3rem;
  }

  .stats-icon{
    transform: translate(-6%, -60%);
  }

  .contact-section{
    width: 116%;
  }
}


/**/

/*33.75em*/

@media (max-width: 35.75em){
  html{
    overflow-x: hidden;
  }


  .video{
    width: 200%;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100vh);
    height: 45.5rem;
    left: -22%;
    top: -12%;
  }

  .body{
    width: 236%;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 71%, 0 100vh);
  }

  .hero-text{
    margin-left: 1rem;
  }

  .Getapet-Container{
    height: 80rem;
  }

  .Getapet-Header{
    margin-left: 0rem;
  }

  .getapet-container{
    margin-left: 6rem;
  }

  .getapet-header-1{
    transform: translateX(0%);
  }

  .getapet-header-2{
    transform: translateX(0%);
  }

  .getapet-header-3{
    transform: translateX(0%);
  }

  
  .getapet-position {
    transform: translateX(0%);
  }

  .getapet-position-1{
    transform: translateX(0%);
  }

  .getapet-position-2{
    transform: translateX(0%);
  }

  .Ourstory-Container{
    height: 60rem;
  }

  .ourstory-commitment{
    height: 14rem;
    padding: 1rem 6rem;
  }

  .ourstory-image{
    width: 122%;
  }

  .ourstory-story{
    transform: translate(27%, -31%);
    margin-left: 0rem;
    padding: 2rem 6rem;
  }

  .Parallax{
    background-position: center;
    width: 165%;
    margin-left: -1rem;

  }

  .Stats-Container{
    height: 102rem;
  }

  .stats{
    margin-left: 0rem;
    margin-bottom: 1rem;
    margin-top: 0rem;
  }

  .stats-text{
    margin-left: 0rem;
  }

  .stats-card-text{
    margin-left: 3rem;
  }

  .stats-icon{
    transform: translate(171%, -60%);
  }
  .card-1{
    margin-top: 5rem;
  }

  .card-2{
    margin-bottom: 11rem;
  }
  .Contact-Container{
    width: 115%;
  }

  .contact-image{
    width: 138%;
  }

  .contact-section{
    width: 100%;
    margin-left: -2rem;
    height: 50rem;
  }
}

/**/

/*25.875em*/

@media (max-width: 25.875em){
  html{
    overflow-x: hidden;
  }
  .getapet-container {
    margin-left: 2rem;
  }

  .ourstory-commitment{
    height: 17rem;
  }

  .ourstory-image{
    margin-top: 16rem;
  }

  .ourstory-story{
    padding: 2rem 5rem;
    height: 22rem;
  }

  .stats-icon{
    transform: translate(83%, -60%);
  }

  .contact-image{
    width: 154.5%;
  }

  .contact-section{
    height: 53rem;
  }
}

/**/

/*23.4375*/

@media (max-width: 23.4375em){
  .body{
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 71.5%, 0 89vh);
  }

  .getapet-container{
    margin-left: 1rem;
  }

  .ourstory-commitment{
    height: 21rem;
  }

  .stats-icon{
    transform: translate(50%, -60%);
  }

  .stats-card-text{
    margin-left: 1rem;
  }

  .contact-image{
    width: 163.5%;
  }

  .contact-section{
    width: 103%;
  }
}


/**/

/*22.5*/

@media (max-width: 22.5em){
  .body{
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 69.5%, 0 95vh);
  }

  .Ourstory-Container{
    height: 68rem;
  }

  .ourstory-story{
    transform: translate(27%, -17%);
  }

  .stats-icon{
    transform: translate(38%, -60%);
  }

  .ourstory-commitment{
    height: 22rem;
  }
}


/**/